<div class="post-images">
  <div class="images">
    <button class="arrow-btn arrow-btn_left">
      <img src="../../../../../../assets/icons/left-arrow.png" class="arrow-image" alt="">
    </button>
    <div class="blur">
      <img src="https://fakeimg.pl/300x600/6c25be/?text=image" class="image image_active" alt="image">
      <img src="https://fakeimg.pl/300x600/6c25be/?text=image" class="image" alt="image">
      <img src="https://fakeimg.pl/500x400/6c25be/?text=image" class="image" alt="image">
    </div>
    <button class="arrow-btn arrow-btn_right">
      <img src="../../../../../../assets/icons/right-arrow.png" class="arrow-image" alt="">
    </button>
  </div>
  <div class="dot-btns">
    <button class="dot-btn dot-btn_active"></button>
    <button class="dot-btn"></button>
    <button class="dot-btn"></button>
  </div>
</div>