<div class="post-control-panel">
  <span class="post-controls">
    <button
      tuiIconButton
      icon="tuiIconThumbsUpLarge"
      size="s"
      appearance="icon"
      title="Like"
    ></button>

    <button
      tuiIconButton
      icon="tuiIconMessageCircleLarge"
      size="s"
      appearance="icon"
      title="Comment"
    ></button>

    <button
      tuiIconButton
      icon="tuiIconThumbsDownLarge"
      size="s"
      appearance="icon"
      title="Dislike"
    ></button>
  </span>

  <span class="views">
    <p class="views-value tui-text_body-m">100k</p>
    <button
      tuiIconButton
      icon="tuiIconEyeLarge"
      size="s"
      appearance="icon"
      title="Dislike"
    ></button>
  </span>
</div>
