<app-user-page-section>
  <header
    s-title
    class="photos-section__header">
    <h3
      class="tui-text_h5">
      Фотографии
    </h3>
    <button
      tuiButton
      size="s">
      Показать все
    </button>
  </header>
  <section
    s-content>
    <div
      class="photos-list">
      <img
        src="../../../../../assets/images/img-example.png"
        class="photos-list__item"
        alt="photo">

        <img
        src="../../../../../assets/images/img-example.png"
        class="photos-list__item"
        alt="photo">

        <img
        src="../../../../../assets/images/img-example.png"
        class="photos-list__item"
        alt="photo">
    </div>
  </section>
</app-user-page-section>