<app-user-page-section>
  <header
    s-title
    class="photos-section__header"
  >
    <h3 class="tui-text_h5">Фотографии</h3>
    <button
      tuiButton
      size="s"
    >
      Показать все
    </button>
  </header>
  <section s-content class="content">
    <div class="photos-list" *ngIf="firstImages.length; else noPhotos">
      <app-image-item *ngFor="let img of firstImages" [src]="img"></app-image-item>
    </div>
    <ng-template #noPhotos>
      <p class="tui-text_body-xl no-photos">У Вас пока нет фотографий</p>
    </ng-template>
  </section>
</app-user-page-section>
