.friends-list {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  width: 230px;
  height: 73px;
}
.title {
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}
.line {
  margin: 7px 0;
  height: 2px;
}
.friends-count {
  color: rgb(91, 90, 90);
}
