<app-user-page-section>
  <h1
    s-title
    class="friends-section__title"
    >
    Друзья
  </h1>
  <section
    s-content>
    <div class="friends-list">
      <div class="friends-list__friend">
        <img
          src="../../../../../assets/images/img-example.png"
          class="friend__image"
          alt="">
        <p
          class="friend__name">
          Серёжа
        </p>
      </div>

      <div class="friends-list__friend">
        <img
          src="../../../../../assets/images/img-example.png"
          class="friend__image"
          alt="">
        <p
          class="friend__name">
          Вася
        </p>
      </div>
    </div>
  </section>
</app-user-page-section>