<app-user-page-section>
  <h3
    s-title
    class="tui-text_h5"
  >
    Друзья
  </h3>
  <section s-content>
    <div class="friends-list">
      <div class="friends-list__friend">
        <img
          src="../../../../../assets/images/img-example.png"
          class="friend__image"
          alt=""
        />
        <p class="friend__name tui-text_body-s">Серёжа</p>
      </div>

      <div class="friends-list__friend">
        <img
          src="../../../../../assets/images/img-example.png"
          class="friend__image"
          alt=""
        />
        <p class="friend__name tui-text_body-s">Вася</p>
      </div>
    </div>
  </section>
</app-user-page-section>
